/***************************************************/
/**********GLOBAL**********************************/
/**************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial' sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

section{
    padding: 100px 0;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
h1{
    margin: 0;
    color: white;
    font-size: 260%;
    word-spacing: 2px;
    letter-spacing: 3px;
    font-weight: 300;
}
h3{
    margin: 0;
    color: rgba(255, 255, 255, 0.432);
    font-size: 150%;
    font-weight: 300;
    
}
h2{
    font-size: 200%;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    
}
h2:after{
    content:"";
    display: block;
    width: 80px;
    height: 2px;
    background-color: orange;
    margin: 10px auto;
}




/***************************************************/
/******************HEADER SECTION*******************/
/**************************************************/
header{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('../assets/header-background.jpg');
    background-size: cover;
    background-position: center;
}


.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.btn{
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 20px;
    border: 1px solid orange;
    transition: background-color 0.2s ease;
    
}
.btn-full{
margin-right: 20px;
background-color: orange;
border: none;
}
.btn-ghost{

}

.logo{
    width: 100px;
    height: auto;
    float: left;
}

.main-nav{
    float: right;
    list-style: none;
    

}
.main-nav li{
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    
}

.main-nav li a{
    text-decoration: none;
    color: white;
    padding: 8px 0;
    font-size: 90%;
    font-weight: 400;
    transition: border-bottom 0.2s ease;
}
.main-nav li a:hover ,.main-nav li a:active{
    border-bottom: 2px solid orange;

} 

/***************************************************/
/****************** ABOUT US SECTION ***************/
/**************************************************/
.long-copy{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    font-size: 120%;

    }
    
.about-items{
font-size: 120%;
padding: 10px;
margin-top: 30px;
border: 1px solid rgb(247, 245, 245);
cursor: pointer;
border-radius: 10px;
}
.about-items h3{
margin: 0;
color: black;
font-size: 110%;
text-align: center;
margin-bottom: 10px;
font-weight: 300;
text-transform: uppercase;
}
.about-items p{
    font-size: 90%;
    line-height: 145%;
}
.about-items ion-icon{
    font-size: 320%;
    display: block;
    color: orange;
    margin: 0 auto;
    margin-bottom: 10px;
}



/***************************************************/
/****************** MEALS SECTION ***************/
/**************************************************/
.section-meals{
    padding: 0;
}
.meals-showcase{
    list-style: none;
    width: 100%;
    
}
.meals-showcase li{
    display: block;
    float: left;
    width: 20%;
    height: 20%;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}
.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.13);
    transition: transform 0.5s,opacity 0.4s;
    opacity: 0.7;
}
.meal-photo img:hover{
    transform: scale(1.07);
    opacity: 1;
}

