/**************************************************************************************/
/************************************GLOBAL**********************************************/
/****************************************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial' sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

section{
    padding: 100px 0;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.clear-fix{zoom: 1;}
.clear-fix::after{
    content: "";
    clear: both;
    display: block;
}
h1{
    margin: 0;
    color: white;
    font-size: 260%;
    word-spacing: 2px;
    letter-spacing: 3px;
    font-weight: 300;
}
h3{
    margin-bottom: 15px;
    font-size: 150%;
    font-weight: 300;
}
h2{
    font-size: 200%;
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
h2:after{
    content:"";
    display: block;
    width: 80px;
    height: 2px;
    background-color: orange;
    margin: 10px auto;
}
a{
    text-decoration: none;
    color: orange;
    
}




/*******************************************************************************************/
/*********************************HEADER SECTION*********************************************/
/********************************************************************************************/
header{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('../assets/header-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    
}

.btn{
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 20px;
    border: 1px solid orange;
    transition: background-color 0.2s ease;
    
}
.btn-full{
margin-right: 20px;
background-color: orange;
border: none;
}
.btn-ghost{

}

.logo{
    width: 100px;
    height: 90px;
    float: left;
}
.logo-black{
    display: none;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
    
}
.main-nav li{
    display: inline-block;
    margin-left: 30px;
    
}

.main-nav li a{
    text-decoration: none;
    color: white;
    padding: 8px 0;
    font-size: 90%;
    font-weight: 400;
    transition: border-bottom 0.7s linear;
}
.main-nav li a:hover ,.main-nav li a:active{
    border-bottom: 2px solid orange;
} 

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: 0 2px 2px #efefef;
    z-index: 999;
}

.sticky .main-nav li a{
    color: #555;
    padding: 15px 0;
}
.sticky .logo{display: none;}
.sticky .logo-black {
    display: block;
    width: 80px;
    padding: 0;
    height: 65px;
    margin-left: 10px;
}
.sticky .main-nav{
    margin-top: 20px;
}
/* .sticky .main-nav li{
    margin-top: 20px;
} */




/***********************************************************************************/
/********************************* ABOUT US SECTION ******************************/
/***********************************************************************************/
.long-copy{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    font-size: 120%;

    }
    
.about-items{
font-size: 120%;
padding: 10px;
margin-top: 30px;
border: 1px solid rgb(247, 245, 245);
cursor: pointer;
border-radius: 10px;
}
.about-items h3{
margin: 0;
color: black;
font-size: 90%;
text-align: center;
margin-bottom: 10px;
font-weight: 300;
text-transform: uppercase;
}
.about-items p{
    font-size: 70%;
    line-height: 145%;
}
.about-items ion-icon{
    font-size: 120%;
    display: block;
    color: orange;
    margin: 0 auto;
    margin-bottom: 10px;
}



/********************************************************************************************/
/***************************************** MEALS SECTION ************************************/
/*********************************************************************************************/
.section-meals{
    padding: 0;
}
.meals-showcase{
    list-style: none;
    width: 100%;
    
}
.meals-showcase li{
    display: block;
    float: left;
    width: 20%;
    height: 20%;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}
.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.13);
    transition: transform 0.5s,opacity 0.4s;
    opacity: 0.7;
}
.meal-photo img:hover{
    transform: scale(1.07);
    opacity: 1;
}


/***************************************************************************************/
/************************************ HOW IT WORKS ****************************************/
/***********************************************************************************************/
.section-steps{
    background-color: rgba(204, 204, 204, 0.349);
}

.steps-box:first-child{
    position: relative;
    width:450px;
    height: 500px;

}

.steps-box:first-child img{
    width: 100%;
    position: absolute;
    left: 5%;
    transition: all 0.5s ease;
    
}


.steps-box:first-child:hover .app-screen:nth-child(3){
    opacity: 0;
    
}

.steps-box:first-child:hover .app-screen:nth-child(2){
    transform: translate(80px) rotate(5deg) scale(0.85);
    opacity: 0.80;
}

.steps-box:first-child:hover .app-screen:nth-child(1){
    transform: translate(-80px) rotate(-5deg);
    opacity: 0.9;
}




.steps-box:last-child{
padding-left: 10%;
margin-top: 50px;
}


.works-steps{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.works-steps:last-of-type{
    margin-bottom: 40px;
}
.works-steps div{
    margin-right: 20px;
    background-color: orange;
    color: white;
    width: 30px;
    display: flex;
    padding: 20px;
    height: 30px;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}

.btn-app img{
    height: 50px;
    margin-right: 5px;
}
.btn-app img:first-of-type{
    margin-left: 30px;
}

/********************************************************************************/
/*********************************** CITIES SECTION *******************************/
/*********************************************************************************/
.city-box{
 padding: 1%;
}
.city-box p{
    font-size: 90%;
    line-height: 145%;
}

.city-box img{
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
}
.city-box a{
    border-bottom: 1px solid orange;
    padding-bottom: 1%;
    transition: all 0.3s ease;
}

.city-box a:hover{
    border-bottom: none;
    color: rgb(61, 60, 60);
}
.city-feature ion-icon{
display: inline-block;
width: 30px;
vertical-align: middle;
margin-top: -4px;
color: orange;
line-height: 200%;
font-size: 20px;
}


/********************************************************************************/
/***************************** TESTIMONIALS SECTION *******************************/
/*********************************************************************************/
.section-testimonials{
    background-image:linear-gradient(rgba(0, 0, 0, 0.541),rgba(0, 0, 0, 0.658)), url("/assets/testimonialback.jpg");
    color: white;
    background-size: cover;
    height: 550px;
    background-attachment: fixed;
}
blockquote{
    padding: 2.5%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote::before{
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    left: 5px;
    top: -10px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block; 
}

cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/********************************************************************************/
/***************************** PLANS SECTION *******************************/
/*********************************************************************************/
.section-plans{
    background-color: rgba(204, 204, 204, 0.349);
}
.plan-box{
    background-color: white;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0 2px 2px #efefef;
    margin-left: 5%;
}
.plan-box div:first-child h3{
    text-align: center;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid rgba(126, 124, 124, 0.479);
}
.plan-box div:last-child{
    text-align: center;
    border-bottom: none;
}
.plan-price{
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    color: orange;
}

.plan-price span{
    font-size:30%;
    font-weight: 300;
}

.plan-price-meal{
font-size: 80%;
}

.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;

}

.plan-box ion-icon{
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    margin-top: -4px;
    color: orange;
    line-height: 200%;
    font-size: 20px;
}

.plan-box a{
    color: white;
    background-color: orange;
    padding: 15px 20px;
    margin-top: 20px 0;
    display: inline-block;
    border: none;
    font-weight: 400;
    border-radius: 20px;
    transition: all 0.2s ease;
} 



/********************************************************************************/
/*****************************REACH OUT TO US SECTION *******************************/
/*********************************************************************************/

.contact-form{
    width: 60%;
    margin: 0 auto;
}



input[type="text"],input[type="email"],select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cacaca;
}

textarea{
    height: 100px;
}

input[type=submit]{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 3px #9e9d9d;
    transition: all 0.5s ease;
}

input[type=submit]:hover{
filter: grayscale(50%);
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}


/********************************************************************************/
/***************************** FOOTER *******************************/
/*********************************************************************************/
footer{
    background-color: #333;
    padding: 50px;
}
.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style-type: none;
    float: right;
}

.footer-nav li,.social-links li{
display: inline-block;
margin-right: 10px;
}
.footer-nav li:last-child,
.social-links li:last-child
{
    margin-right: 0;
}

.footer-nav li a,.social-links li a{
    color: rgb(194, 191, 191);
}

footer p{
    font-size: 90%;
    text-align: center;
    
}


/**********************************************************************************/
/***************************** MEDIA QUERIES *************************************/
/*********************************************************************************/
@media only screen and (max-width:1200px){
    .hero-text-box{
        padding: 0 5%;    
        width: 100%;
    }
    .row{
        padding: 0 2%;
    }

}

@media only screen and (max-width:1023px){
    body{
        font-size: 18px;
    }
    section{
        padding: 80px 0;
    }
    .long-copy{
        width: 80%;
        margin: 0 10%;
    }
    .logo {
        width: 50px;
        height: 50px;
        float: left;
    }
    
    .steps-box{
        margin-top: 10%;
    }
    .steps-box:last-child {
        padding-left: 3%;
        margin-top: 5.5%;
    }
    .app-screen{
        width: 50%;
    }

    .plan-box{
        width: 100%;
        margin-left: 0%;
    }

    .contact-form{
        width: 100%;
        padding: 2%;
    }

}

@media only screen and (max-width:767px){
    body{
        font-size: 16px;
    }
    section{
        padding: 60px 0;
    }
    .row{
        padding: 0 4%;
    }
    .hero-text-box{
        padding: 0 4%;    
        
    }
    .col{
        width: 100%;
    }
    .main-nav{
        display: none;
    }
    h2{
        font-size: 180%;
    }

    .about-items p {
        font-size: 80%;
        line-height: 145%;
        font-weight: 300;
    }
    .long-copy{
        width: 80%;
        margin: 2% 10%;
    }


    .steps-box{
        margin-top: 10%;
    }
    .steps-box:last-child {
        padding-left: 3%;
        margin-top: 5.5%;
    }
    .steps-box:first-child {
        text-align: center;
        margin-top: 10px;
    }
    .app-screen{
        width: 30%;
       
    }

    .btn-app img {
        height: 50px;
        margin-right: 10px;
        
    }
    .btn-app img:first-child{
        margin-left: 20px;
    }
    .city-box img {
        margin-bottom: 5px;
    }
    .city-box{
        margin-bottom: 3%;
    }
    .city-feature{
        font-size: 100%;
    }

    .section-testimonials{
        height: 850px;
    }
    cite{
      margin: 0 0 10% 4%;
    }
    blockquote{
        margin-top: 30px;
    }
    .plan-box{
        width: 80%;
        margin: 0 auto 10%;
    }

    button, input, optgroup, select, textarea {
        margin: 5px 0;
    }

    .steps-box:first-child{
        position: relative;
        width:450px;
        height: 500px;
        margin: 0 auto;
        left: 15%;
    }
}

@media only screen and (max-width:480px){
    body{
        font-size: 15px;
    }
    section{
        padding: 50px 0;
    }

    .steps-box:first-child{
        position: relative;
        width:350px;
        height: 400px;
        margin: 0 auto;
        left: 10%;
    }
    

    .btn-full {
        margin-right: 2px;   
    }

    .btn-app img {
        height: 50px;
        width: 100px;
    }
    .works-steps div{
        width: 30px;
        height: 30px;
    }

    button, input, optgroup, select, textarea {
        margin: 7px 0;
    }
    
}

@media only screen and (max-width:280px){
    body{
        font-size: 12px;
    }
    section{padding: 40px 0;}

    .steps-box:first-child{
        display: none;
    
    }
    

    .btn-app img{
        margin-left: 10px;
        height: 50px;
        width: 100px;
        padding: 0;
        margin: 0;
    }
    .city-feature{
        padding: 5px;
    }

    .section-testimonials{
        height: 700px;
    }
    button, input, optgroup, select, textarea {
        margin: 10px 0;
    }

    
}

.aos-1{
    opacity: 0;
}
.animate__animated.aos-1{
    opacity: 1;
}